<div class="panel panel-success animated bounceInLeft" ng-show="myUserSession != null">
  <div class="panel-heading">
    <h3 class="panel-title">Bonjour {{myUserSession}}, votre id est {{myIdSession}} (à garder pour vous identifier) <a class="btn " href="#/users/details/{{myIdSession}}">Mon Profil</span></a></h3>
  </div>
</div>

<div class="panel panel-default" ng-init="getUsers()">
  <div class="panel-heading">
    <h3 class="panel-title">Température pour une ville</h3>
  </div>
  <div class="panel-body">
    <div>
      <form class="form-inline">
        <div class="form-group">
          <label for="searchCity"></label>
          <input type="text" class="form-control" id="searchCity" ng-model="searchCity">
        </div>
        <button type="submit" class="btn btn-default" id="btnSearchAnimate" ng-click="search()">Afficher Météo</button>
        <button type="submit" class="btn btn-warning" id="btnGpsAnimate" ng-click="myPositionGps()"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> GPS</button>
      </form>

    </div>
    <div class="row">
       <!-- <div ng-init="getWeather()"> -->
        <div>
          <div class="col-md-6">
            <div class="well">
              <h4><img src="http://openweathermap.org/img/w/{{weather.icon}}.png"/> {{name}} </h4>
              <p>Température Actuelle {{main.temp}}°C</p>
              <p>Pression Actuelle {{main.pressure}} hPa</p>
              <p>Humidité {{main.humidity}} %</p>
              <p>Température min {{main.temp_min}}°C</p>
              <p>Température max {{main.temp_max}}°C</p>
              <p>Vitesse du vent {{wind.speed}} Km/h</p>
            </div>
          </div>
          <div class="col-md-6">
              <!-- MAPBOX -->
              <div id='map'></div>
          </div>
        </div>
    </div>
  </div>
</div>



<div class="panel panel-default" ng-init="getUsers()">
  <div class="panel-heading">
    <h3 class="panel-title">Température pour une liste de villes</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-init="getAllWeather()">
        <div ng-repeat="alldataweather in alldataweathers">
          <div class="col-md-4">
            <div class="well">
              <h4><img src="http://openweathermap.org/img/w/{{alldataweather.weather[0].icon}}.png"/>  {{alldataweather.name}}</h4>
              <p>Température Actuelle {{alldataweather.main.temp}}°C</p>
              <p>Pression Actuelle {{alldataweather.main.pressure}} hPa</p>
              <p>Humidité {{alldataweather.main.humidity}} %</p>
              <p>Température min {{alldataweather.main.temp_min}}°C</p>
              <p>Température max {{alldataweather.main.temp_max}}°C</p>
              <p>Vitesse du vent {{alldataweather.wind.speed}}Km/h</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="panel panel-default" ng-init="getUsers()">
  <div class="panel-heading">
    <h3 class="panel-title">Liste des utilisateurs (pour démo)</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="user in users">
        <div class="col-md-6">
          <div class="">
            <h4>{{user.name}}</h4>
            <p>{{user.fav}}</p>
            <p>id : {{user._id}}</p>
            <a class="btn btn-primary" href="#/users/details/{{user._id}}">Détails</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

